In [1]:
import pandas as pd
import numpy as np
import googlemaps
import gmaps
import gmaps.datasets
from config import g_key
#import geopandas as gpd

gmaps.configure(api_key = g_key)

In [2]:
data = pd.read_csv('source_files/incidents_lat_long_date.csv', encoding = "ISO-8859-1", low_memory=False, index_col = 'ID')
data = data.fillna('')                   # fill empty entries with ''
print(list(data))                        # print Variable Name
data.head()                              # show some data

['Longitude', 'Latitude', 'arrive_date_time']

       Longitude     Latitude  arrive_date_time
ID
1   -78.53732007  35.89162234  10/19/2013 21:52
2   -78.64763064  35.87818584   2/14/2014 21:49
3   -78.63397664  35.76538782    4/29/2012 5:17
4   -78.69139555  35.88444729   4/28/2012 23:46
5   -78.51656019  35.87272475   1/26/2014 22:35

In [3]:
center_lat = '35.787743'
center_long = '-78.644257'
print('center = ',center_lat,center_long)

center =  35.787743 -78.644257

In [4]:
fire_loc = pd.DataFrame(data)
fire_loc = fire_loc[fire_loc.Latitude != 'missing']
fire_loc['Latitude'] = pd.to_numeric(fire_loc['Latitude'])
fire_loc['Longitude'] = pd.to_numeric(fire_loc['Longitude'])

fire_loc.head()

    Longitude   Latitude  arrive_date_time
ID
1  -78.537320  35.891622  10/19/2013 21:52
2  -78.647631  35.878186   2/14/2014 21:49
3  -78.633977  35.765388    4/29/2012 5:17
4  -78.691396  35.884447   4/28/2012 23:46
5  -78.516560  35.872725   1/26/2014 22:35

In [5]:
len(fire_loc)

158423

In [10]:
locations = fire_loc[['Latitude', 'Longitude']]
fig = gmaps.figure(map_type='TERRAIN')
heatmap_layer = gmaps.heatmap_layer(locations)
heatmap_layer.max_intensity = 200
heatmap_layer.point_radius = 5
fig.add_layer(gmaps.heatmap_layer(locations))
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
fp = 'Shp_files/Wake_County.shp'

map_df = gpd.read_file(fp)

NameError: name 'gpd' is not defined